html, body {
	height: 100%;
}


h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-weight: 300;
	color: #221D1D;
} 

h2 {
	font-size: 2.5em;
}

p, ol, ul {
	margin-top: 0px;
}

p {
	line-height: 200%;
}

strong {
}



a:hover {
	text-decoration: none;
}

a img {
	border: none;
}

img.border {
}

img.alignleft {
	float: left;
}

img.alignright {
	float: right;
}

img.aligncenter {
	margin: 0px auto;
}

hr {
	display: none;
}


.container {
	width: 980px;
	margin: 0px auto;
}

.clearfix {
	clear: both;
}

/** HEADER */

#header {
	
	background-position: right;
}
 
 

/** MENU */

#menu2 {
	overflow: hidden;
	width: 1200px;
	height: 60px;
	font-size: 20px;
	color: #000000;
	margin-top: 10%;
}

#menu2 ul {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px;
	list-style: none;
	line-height: normal;
	text-align: center;
}

#menu2 li {
	display: inline-block;
}

#menu2 a {
	display: inline-block;
	height: 60px;
	padding: 0px 40px 0px 40px;
	text-decoration: none;
	line-height: 60px;
	text-transform: none;
	text-align: center;
	font-size: 16px;
	font-weight: 200;
	color: #ff0000;
	border: none;
}

#menu2 a:hover, #menu .current_page_item a {
	text-decoration: none;
}


#menu2 .last {
	border-right: none;
}

/** PAGE */

#page {
}

/** CONTENT */

#content {
}

#grafico{
    border: 1px solid #aaaaaa;
    margin-top: 10px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

/** SIDEBAR */

#sidebar {
}






/* List Style 2 */

.list-style2 {
	margin: 0px;
	padding: 0px 0px 20px 0px;
	list-style: none;
}

.list-style2 li {
	padding: 10px 0px 10px 0px;
	border-top: 1px solid #D4D4D4;
}


.list-style2 .first {
	padding-top: 0px;
	border-top: none;
}

/* List Style 1 */

.link-style {
	display: inline-block;
	margin-top: 10px;
	padding: 5px 15px;
	background: #055657 url(../images/bg01.png) repeat;
	letter-spacing: 1px;
	text-decoration: none;
	text-shadow: 1px 0px 1px #5C1111;
	text-transform: uppercase;
	color: #FFFFFF;
}

label.error{
    background: url('../imagen/error.png') no-repeat;
    padding-left: 16px;
    margin-left: .3em;
    font-size: 11px;
    color: #f00;
    font-family: "Trebuchet MS",Verdana,Arial,sans-serif;
}

.select-css {
	display: block;
	font-size: 16px;
	font-family: sans-serif;
	font-weight: 700;
	color: #444;
	line-height: 1.3;
	padding: .6em 1.4em .5em .8em;
	width: 100%;
	max-width: 100%;
	box-sizing: border-box;
	margin: 0;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: .5em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	  linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
}
.select-css::-ms-expand {
	display: none;
} 
.select-css:hover {
	border-color: #888;
}
.select-css:focus {
	border-color: #aaa;
	box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222;
	outline: none;
}
.select-css option {
	font-weight:normal;
}

/*----------tabla------------*/

table {
		background:#F2F6F6;
		float:none;
                color: #000000;
		}
table thead {
            background:#444;
            color:#eff4f4;
            font-size:14px;
            }			

table th {
		border-bottom:1px solid #F0F0F0;
		text-align:left;
		font-size: 16px;
		}
		
table td{
	border-bottom:1px solid #F0F0F0;
	text-align:center
}

label.error{

    padding-left: 16px;
    margin-left: .3em;
    font-size: 11px;
    color: #f00;
    font-family: "Trebuchet MS",Verdana,Arial,sans-serif;
}